# diagram
plantuml.jar
/diagram/*/*.svg

# application
config.yml
config.testing.yml
*.sqlite
*.log
/node_modules/*
/static/plugins/*
/static/public
/storage/public/*
package-lock.json

# other
memo.txt
