# diagram
plantuml.jar
/diagram/*/*.svg

# application
config.yml
config.testing.yml
*.sqlite
*.log
/node_modules/*
/static/public
/storage/public/*
/bin
/.ssh
package-lock.json

# docker
/docker/db/data/*
/docker/redis/data/*
# other
memo.txt
/python/*
/.ngrok
