<div class="card-footer clearfix">
    <div class="dataTables_wrapper">
        <div class="row">
            <div class="col-12">
                <div class="dataTables_info">
                    {{ pagination.total_count }}&nbsp;件中&nbsp;{{ pagination.first_count }} - {{ pagination.last_count }}&nbsp;件を表示
                </div>
            </div>

            <div class="col-12 mt-2">
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination mb-0">
                    {% if pagination.total_count == 0 %}
                        <li class="paginate_button page-item disabled" aria-disabled="true">
                            <a class="page-link">&lsaquo;</a>
                        </li>
                        <li class="paginate_button page-item next disabled" aria-disabled="true">
                            <a class="page-link" >&rsaquo;</a>
                        </li>
                    {% else %}
                        {% if pagination.prev_url %}
                            <li class="paginate_button page-item ">
                                <a class="page-link" href="{{ pagination.prev_url }}" rel="prev">&lsaquo;</a>
                            </li>
                        {% else %}
                            <li class="paginate_button page-item disabled" aria-disabled="true">
                                <a class="page-link">&lsaquo;</a>
                            </li>
                        {% endif %}

                        {% if pagination.elements|length > 1 %}
                            {% for element in pagination.elements %}
                                {% if element.Page == pagination.current_page %}
                                <li class="paginate_button page-item active" aria-current="page">
                                    <a class="page-link">
                                        {{ element.Page }}
                                    </a>
                                </li>
                                {% else %}
                                <li class="paginate_button page-item">
                                    <a class="page-link" href="{{ element.URL }}">
                                        {{ element.Page }}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if pagination.next_url %}
                            <li class="paginate_button page-item next">
                                <a class="page-link" href="{{ pagination.next_url }}" rel="next">&rsaquo;</a>
                            </li>
                        {% else %}
                            <li class="paginate_button page-item next disabled" aria-disabled="true">
                                <a class="page-link" >&rsaquo;</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
