{% extends 'layout/default.html' %}
{% block title %}ダッシュボード｜{% endblock %}
{% block content_side %}
    {% include 'include/sidebar.html' %}
{% endblock %}
{% block content_header %}
    {% include 'include/header.html' with title='ダッシュボード' %}
{% endblock %}
{% block content %}

<div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="text-muted">
                        以下のステップにしたがってDiscordボットでメッセージを配信しましょう！
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <h6>Step1 ボット情報の追加</h6>
                    <p>
                        <small>
                            ボット情報を追加する前に、まずはDiscordアプリからウェブフックURLを取得してください。<br>
                            URLを取得したら、サイドメニューの「ボット ＞ 追加」から、ウェブフックURLなどのボット情報を追加してください。
                        </small>
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <h6>Step2 メッセージの追加</h6>
                    <p>
                        <small>
                            ボットを追加したら、サイドメニューの「ボット ＞ 検索」からボットリストページを開き、対象ボットに並んでいるボタンから配信メッセージを追加してください。<br>
                            メッセージの配信方法は「即時配信・予約配信・定期配信」の三つのいづれかで配信でき、定期配信でメッセージを追加した場合は、更に配信タイミングを追加する必要があります。<br/>
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <!-- ./card-body -->

    </div>

<div class="card-columns card-columns--many" id="panel">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">最近の配信履歴</h5>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        {% if sent_messages|length > 0 %}
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th>配信日時</th>
                        <th>対象ボット</th>
                        <th>メッセージ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in sent_messages %}
                    <tr>
                        <td>
                            <small>
                                {{ message.sended_at|date:'2006.01.02 15:04' }}
                            </small>
                        </td>
                        <td>
                            <a href="{{ url('user/bot/%d/edit', message.post_message.bot.id) }}">
                                {{ message.post_message.bot.name }}
                            </a>
                        </td>
                        <td>
                            <small>{{ nl2br(message.message|escape) }}</small>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="card-body">
            <div class="alert alert-info alert-dismissible mb-0">
                <h5><i class="icon fas fa-info-circle"></i> Info</h5>
                配信されたメッセージはありません
            </div>
        </div>
        {% endif %}
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">お知らせ</h5>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        {% if informations|length > 0 %}
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th>日時</th>
                        <th>内容</th>
                    </tr>
                </thead>
                <tbody>
                    {% for information in informations %}
                    <tr>
                        <td>
                            <small>
                                {{ information.date }}
                            </small>
                        </td>
                        <td>
                            <small>{{ nl2br(information.text|escape) }}</small>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="card-body">
            <div class="alert alert-info alert-dismissible mb-0">
                <h5><i class="icon fas fa-info-circle"></i> Info</h5>
                お知らせはありません
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}
